<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- MySQL：库名 IndustrialMaintenance；用户 root；密码 114514（可按本机 Navicat 修改） -->
    <add name="MySqlConn"
         connectionString="server=localhost;port=3306;database=IndustrialMaintenance;user id=root;password=114514;charset=utf8mb4;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
