<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--
      MySQL 连接串（与 Navicat 一致即可）
      库名：IndustrialMaintenance（以 SQL 脚本为准）
      用户：root
      密码：114514
      若本机账号不同，请只改 user id / password，库名保持 IndustrialMaintenance
    -->
    <add name="MySqlConn"
         connectionString="server=localhost;port=3306;database=IndustrialMaintenance;user id=root;password=114514;charset=utf8mb4;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
